<form id="form-connexion" class="form-authentification" novalidate>
    <fieldset id="fielsetform">
        <legend>
            Connexion
        </legend>
        <div id="erreurConn" class=" erreur"></div>

        <label for="input-courriel">Courriel
            <input type="email" id="input-courriel" required>
            <div id="courrielErrorconn" class="error"></div>
        </label>

        <label for="input-mot-de-passe">Mot de passe
            <input type="password" id="input-password" required>
            <div id="passwordErrorconn" class="error"></div>
        </label>

        <input type="submit" value="Connexion" id="connexion">
    </fieldset>
</form>